<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>KOMOJU Fields example</title>
  <link rel="icon" type="image/x-icon" href="https://en.komoju.com/wp-content/uploads/2021/04/5fac5839c59681caee17bdf2_Favicon-Black.png">

  <!-- Include the fields.js script. -->
  <script type="module" src="/fields.js"></script>

  <style>
    body {
      font-family: sans-serif;
    }
  </style>
</head>
<body>
  <form id="form">
    <!-- For testing locale attribute: -->
    <select id="locale-select" onchange="changeLocale(event)">
      <option value="en">English</option>
      <option value="ja">Japanese</option>
    </select>
    <script>
      function changeLocale(event) {
        const fields = document.querySelector('komoju-fields');
        fields.locale = event.target.value;
      }
    </script>

    <% if (!payment_type) { %>
    <!-- Impromptu picker since the real picker is not ready yet -->
    <select id="payment-type-select" onchange="changePaymentType(event)">
      <option value="credit_card" selected>Credit Card</option>
      <option value="konbini">Konbini</option>
    </select>
    <script>
      function changePaymentType(event) {
        const fields = document.querySelector('komoju-fields');
        fields.paymentType = event.target.value;
      }
    </script>
    <% } %>

    <script>window.komojuFieldsDebug = true</script>


    <!-- Payment input fields. Contents are dynamic based on the Session's payment types. -->
    <komoju-fields
      session="<%= sessionString %>"
      session-id="<%= session.id %>"
      publishable-key="<%= publishableKey %>"
      komoju-cdn="<%= cdn %>"
      komoju-api="<%= api %>"
      payment-type="<%= payment_type ?? 'credit_card' %>"
    ></komoju-fields>

    <!-- The komoju-input element will automatically take over the parent form submit logic. -->
    <button type="submit">Pay</button>
  </form>
</body>
</html>
